@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #111827;
  --sidebar-bg: #1a2035;
  --brand: #10b981;
  --brand-hover: #059669;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
